extends layout

block content
    h1 Hello, #{user}
    h2 Your Notes
    - var values = data;
    ul
    each val in values
        .content
            li.title= val.Title
            li.text= val.Text
            li.tag= "#" + val.Tags
            a.edit(href=`/notes/update${val.Title}`)="EDIT"
            a.delete(href=`/notes/delete${val.Title}`)="DELETE"
    else
        li No notes yet! Let's add some ↓


    h1 
    a.new-note(href="/notes/create")="+ Add new note"
